<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard 2023</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
      #banner {
        height: 100px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 16px;
      }
    </style>
  </head>
  <body>
    {% include 'nav2.html' %}
    <img class="img-fluid" id="banner" src="/static/banner.jpg" >
    <div class="container">
      <h2>About {{company_name}}</h2>
      <div class="row text-center">
        <div class="col-8">
          <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare condimentum imperdiet. Nunc interdum lacus ante, et facilisis eros porttitor aliquam. Pellentesque pulvinar non augue vitae placerat. Quisque efficitur at libero in condimentum. Etiam sit amet neque ac risus commodo fermentum a non leo. Morbi eleifend tellus arcu, vel accumsan diam scelerisque congue. Integer scelerisque porta turpis, commodo dignissim dui auctor ac. Nulla eros neque, hendrerit in mattis sit amet, dapibus eu nisi. Sed dignissim porttitor purus, eu vulputate lorem blandit eget. Etiam tristique tortor tellus, sed venenatis sapien ullamcorper sed. Vivamus vestibulum sagittis cursus. Maecenas venenatis feugiat diam. Proin dolor dui, vulputate a posuere nec, euismod id eros.</p>
        </div>
        <div class="col-4">
          <img class="img-fluid" id="banner" src="/static/people_working.jpg" style="height:300px; border-radius:4px">
        </div>
      </div>
      <h2 class="text-center">Job Openings</h2>
      <div>
        {% for job in jobs: %}
        {% include 'jobitem.html' %}
        {% endfor %}
      </div>
      <div class="text-center">
        <a href="mailto:enricowebers@gmail.com?subject=Question%20about%20job%20openings&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20question%3A%20%3Cyour%20question%20here%3E" class="btn btn-primary btn-large">Contact us</a>
      </div>
    </div>
  </body>
  <footer>
    {% include 'footer.html' %}
  </footer>
</html>